*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    /* default font size, also equals to 1rem */
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    /* color: white; */
    overflow-x: hidden;
    color: var(--text);
    background: var(--bg);
    
    /* let bg colour change before text colour to create a cool offset effect */
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

div, section, span, ul, li, a, header{
    box-sizing: border-box;
}

a {
    color: currentColor;
    text-decoration: none;
}

/*css reset*/

header{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    z-index: 999;

}

#menu li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
    position: relative;
}

#menu li a{
    text-decoration: none;
    font-size: 20px;
}

.nav-links li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links li:hover::after{
    width: 100% ;
}

section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    min-height: 400px;
    /* padding: 100px; */
}

/* colour palette for thie website */
/* https://coolors.co/82542f-b18456-8e5a28-030000-61321c */

#home{
   /* background-color: #59405C; */
}

#trees{

    position: relative;
}

#stones{
     background-color: #82542f;
}

#arrange{
     background-color: #82542f;
}

#rockArt{
     background-color: #b18456;
}
#quarry{
  background-color: #8e5a28;
  clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0);
}
#burials{
  background-color: #a28089;
}

#contact{
    background-color:#61321c;
}

h1{
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    color: #fff;
    font-size: 3rem;
    font-weight: bold; 
}
nav{
    z-index: 100;
    position: relative;
    
}

/* for embedded video background */
#video-background{
    position: absolute;
    top: 0;
    left: 0;
    /* bring the video to the centre */
    /* transform: translate(-50%,-50%);  */
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures video covers entire viewport */
    z-index: -1; /* Place the video behind other content */
  }

  .text-overlay {
    /* flex: 1; */
    /* padding: 20px; */
    /* text-align: center; */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* color: #040303; */
    /* font-size: 2rem;
    font-weight: bold; */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(119, 108, 108, 0.5); /* Semi-transparent background */
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.text-overlay h1{
    font-size: 2rem;
}

.text-overlay p{
    font-size: 1.2rem;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100vh;
    gap: 2rem;
    padding: 0 5%;
}
.text-box{
    /* margin-top: 130px;
    max-width: 600px; */
    padding-top: 200px;
    padding-bottom: 200px;
    width: 100%;

    /* position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); */
   text-align: center;
   background-image: url("../assets/img/Brindabella Mountain Range.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
 
}

.text-box h1{
    font-size: 45px;
   
    /* text-align: center; */
    margin-bottom: 20px;
    color: #548057;
}
.user-box{
    /* background-color: #d9e0ff; */
    position: absolute;
    top: 0;
    right: 12%;
    z-index: 1;
}

.user-box img{
    display: block;
    padding-top: 120px;
    width: 500px;
    /* margin-bottom: -205px; */
        /* round up the corners */
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.container{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
   
}

.hero{
    
    /* background-image: url("../assets/img/woodprint.jpg"); */
    background-position: center;
    background-size: cover;
    color: black ;
    

}
#stones{
    color: black;
    /* background-color: #074f57; */
    /* padding-top: 200px; */
    /* padding-bottom: 200px; */
}

#stones h1{
    font-size: 2rem;
    color: black;
}


.spacer{
    aspect-ratio: 960/300;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wave1{
    background-image: url('../assets/waves/waves1.svg');
}

.wave2{
    background-image: url('../assets/waves/wave_test.png');
    background-size: cover;
}
.yellowBlob{
    background-image: url('../assets/waves/yellowBlob.svg');
    background-position: center;
    background-size: cover;
    
}

.dropdown{
    position: absolute;
    width: 500px;
    opacity: 0;
    z-index: 2;
    background: aqua;
    /* opacity: 0.1; */
    border-top: 2px solie white;

    /* round up the corners */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    margin-top: 2rem;
    padding: 0.5rem;
   
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;
    transition: opacity .15s ease-out;
    right: -30px;

}

/* When you click on the link it creates focus on that link
which will cause the drop down to fade in. 
If we click outside of it, it loses focus and fade out.  */
.has-dropdown:focus-within .dropdown{
    opacity: 1;
    pointer-events: auto;
}

/* create circles before each themes to show what they are  */
.dropdown-item a{
    width: 100%;
    height: 100%;
    size: 0.7rem;
    padding-left: 10px;
    font-weight: bold;
}

/* before add content before the link text */
.dropdown-item a::before{
    content: " ";
    border: 2px solid white;
    border-radius: 50%;

    /* draw perfect circle  */
    width: 2rem;
    height: 2rem;

    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/* theme */
:root{
    --gray0:#f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #bcbecd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #12181b;
    --blue: #0084a5;
    --purple: #a82dd1;
    --yellow: #fff565;
}

.light{
    --bg: var(--gray0);
    --bg-nav: linear-gradiant(to right, var(--gray1), var(--gray3));
    --bg-dropdown: var(--gray0);
    --text: var(--gray6);
    --border-colr: var(--blue);
    --bg-solar: var(--yellow); 

}

.dark{
    --bg: var(--gray5);
    --bg-nav: linear-gradiant(to right, var(--gray5), var(--gray6));
    --bg-dropdown: var(--gray6);
    --text: var(--gray0);
    --border-colr: var(--purple);
    --bg-solar: var(--blue); 
}

.solar{

    --gray0:#fbffd4;
    --gray1: #f7f8d0;
    --gray2: #b6f880;
    --gray3: #5ec72d;
    --gray4: #3ea565;
    --gray5: #005368;
    --gray6: #003d4c;
}

/* colour the circles of the themes */
#dark::before {
    background: #2a2e35;
}

#light::before {
    background: #ffffff;
}

#solar::before {
    background: var(--bg-solar);
}

/* glide css */
.wrap {
    max-width: 900px;
    margin: 0 auto;
  }
.glide__slide {
    border: 1px solid black;
    line-height: 100px;
    margin: 0;
    text-align: center;
  }

.home-bg{
    img {
        max-width: 100%;
        height: auto;
      }
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    /* background: #ddd; */
    margin-top: 20px;
  }

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
  }