* {
    margin: 0;
    padding: 0;
   
}

html {
    scroll-behavior: smooth;
}


.blue {
    background-color: #477c4d;

}

body {
    /* default font size, also equals to 1rem */
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    /* color: white; */
    overflow-x: hidden;
    color: var(--text);
    background: var(--bg);
    position: relative;
    z-index: 0;

    /* let bg colour change before text colour to create a cool offset effect */
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}

div,
section,
span,
ul,
li,
a,
header {
    box-sizing: border-box;
}

a {
    color: currentColor;
    text-decoration: none;
}

.full-height{
    height: 100vh;
    width: 100%;
    position: relative;
}

.grid-3-row{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.grid-3-row > *{
    
    overflow: hidden;
}
.grid-3-col{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/*css reset*/
/* header & footer element */
.main-header,
.main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

/* change element style of footer */
.main-footer {
    width: 100%;
    height: 70px;
    background-color: #22401f;
    color: #fff;
    /*not working for some reason*/
    /* z-index: 20; */
    font-weight: bold;
}

.main-header {
    width: 100%;
    height: 140px;
    padding: 20px 50px;
    position: fixed;
    z-index: 1;
    background-color: #22401f;
    opacity: 1;
}

.footer-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

#menu li {
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
    position: relative;
}

#menu li a {
    text-decoration: none;
    font-size: 20px;
}

.nav-links li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #896F44;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links li:hover::after {
    width: 100%;
   
}

.nav-links a:hover,
.social-link:hover {
    color: #adadad;
}

section {
    /* width: 100%; */
    position: relative;
    /* display: flex; */
    flex-direction: column;
    /* align-items: center; */
    /* min-height: 400px; */
    /* padding: 100px; */
}

/* colour palette for thie website */
/* https://coolors.co/82542f-b18456-8e5a28-030000-61321c */

#home {
    /* background-color: #59405C; */
}

#trees {

    position: relative;
}

#stones {
    background-color: #82542f;
}
#stones h1, #stones p{
    color: #fff;
}

#arrange {
    background-color: #82542f;
}

#rockArt {
    background-color: #b18456;
}

#quarry {
    background-color: #8e5a28;
    clip-path: polygon(50% 0%, 100% 0, 100% 65%, 50% 100%, 0 65%, 0 0); 
}

#quarry p {
    color: #fff;
}

#burials {
    background-color: #01570B;
}
#burials  h1, #burials p {
    color: #d2cbcb;
}

#contact {
    background-color: #61321c;
}

h1 {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}

nav {
    z-index: 100;
    position: relative;

}

/* ************************************************** */
/* the loading page before the website is loaded  */

.load-wrapper {

    position: fixed;
    top: 0;
    left: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    /* background-color: #1f3d4738; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

/* ************************************************** */
.card {
    /* width: 320px;
    height: 500px; */
    border-radius: 20px;
    overflow: hidden;
    border: 8px solid #fff;
    position: relative;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.card-arrange{
    /* Reference: Paul Girrawah House, Ngambri/Ngunnawal peoples, work in progress, Kamberri/Canberra, 2021 © the artist.
    Image sourced from the National Gallery of Australia
    https://nga.gov.au/events/ceremony-artist-panel-working-with-country/*/
    background-image: url(../assets/img/Stone-Arrange.jpg);
}
.card-imp{
    background-image: url(../assets/img/greenbg.svg);
}
.card-quarry{
    background-image: url(../assets/img/uluru.jpg);
}
.card-body {
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: #fff;
    padding: 30px;
}

.card:hover .card-body {
    right: 0;
}

.card-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 2s ease;
}

.card-title {
    text-transform: uppercase;
    font-size: 50px;

}

.card-subtitle {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
}

.card-info {
    font-size: 16px;
    line-height: 25px;
    margin: 40px 0;
    font-weight: 400;
}

.card-btn {
    color: #1f3d47;
    background: #C7FCCE;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
    width: 120px;
}

/* contact page */
/* source code: https://github.com/WebDevSimplified/Spotify-Landing-Page-Redesign/blob/master/join.html */
.contact-btn {
    color: #fff;
    background-color: #22401f;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.contact-btn:hover {
    background-color: #44A04F;
}

.contact-btn:focus {
    background-color: #548057;
}

.contact-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.contact-text {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
}

.accent-text {
    color: #BC3A80;
}

.contact-form {
    background-color: #202027;
    width: 50vw;
    max-width: 50%;
    padding: 2rem 4rem;
    border-radius: 20px;
}

.text-color {
    color: #fff;
}

.input-group {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.input-group:last-child {
    margin-bottom: 0;
}

.input-group label {
    font-weight: bold;
    margin-bottom: .5rem;
}

.input-group input {
    outline: none;
    background: none;
    border: 1px solid #2E3852;
    font-size: 1em;
    padding: .5em;
    color: inherit;
    border-radius: 5px;
}

.input-group input:focus {
    border-color: #596da0;
}

@media (max-width: 900px) {
    .join-main-section {
        flex-direction: column;
        justify-content: center;
    }

    .join-form {
        width: 80vw;
        max-width: inherit;
        margin: 2rem 0;
    }
}



/* for embedded video background */
.video-background {
    /* position: absolute; */
    top: 0;
    left: 0;
    /* bring the video to the centre */
    /* transform: translate(-50%,-50%);  */
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures video covers entire viewport */
    z-index: 0;
    /* Place the video behind other content */
}

.text-overlay {
    /* flex: 1; */
    /* padding: 20px; */
    /* text-align: center; */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* color: #040303; */
    /* font-size: 2rem;
    font-weight: bold; */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(119, 108, 108, 0.5);
    /* Semi-transparent background */
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.text-overlay h1 {
    font-size: 2rem;
}

.text-overlay p {
    font-size: 1.2rem;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100vh;
    gap: 2rem;
    padding: 0 5%;
}

.text-box {
    /* margin-top: 130px;
    max-width: 600px; */
    padding-top: 200px;
    padding-bottom: 200px;
    width: 100%;

    /* position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); */
    text-align: center;
    background-image: url("../assets/img/Brindabella Mountain Range.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.text-box h1 {
    font-size: 45px;

    /* text-align: center; */
    margin-bottom: 20px;
    color: #548057;
}

.user-box {
    /* background-color: #d9e0ff; */
    position: absolute;
    top: 0;
    right: 12%;
    z-index: 1;
}

.user-box img {
    display: block;
    padding-top: 120px;
    width: 500px;
    /* margin-bottom: -205px; */
    /* round up the corners */
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.hero {

    /* background-image: url("../assets/img/woodprint.jpg"); */
    background-position: center;
    background-size: cover;
    color: #fff;
}


.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wave1 {
    background-image: url('../assets/waves/waves1.svg');
}

/* RockArt element designs starts here. */
.wave2 {
    background-image: url('../assets/waves/wave_test.png');
    background-size: cover;
}
/* turning the RockArt p tag white */
#rockArt p {
    color: #fff;
}


/* *************************END************************* */

/* video background */

/* the overlay did not apply very well
It went out to another video for a bit
Ask how to fix it */
.video-style{ 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    color: white;
    margin-bottom: 100px;
    position: relative;
    
    /* overflow: hidden; */
    /* min-height: 60vh; */
}
.video-style h1{
    pointer-events: none;
    z-index: 1;
   
    position: absolute;
    text-align: center;
    
}

.video-bg-black{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* min-width:100%;
    min-height: 100%; */
    background: rgba(0, 0, 0, 0.5); 
    background-image: linear-gradient(
                                    90deg, 
                                    477c4d, 
                                    #c7fcce);

    z-index: 1;
    width: 100%;
    height: 100%;
}
.video-bg{
    /* position: absolute; */
    z-index: -1;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 100%;
    height: 600%;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03a9f4;
    mix-blend-mode: overlay;
}
.greenbg {
    background-image: url('../assets/img/greenbg.svg');
    background-position: center;
    background-size: cover;
    z-index: 100;
}

.dropdown {
    position: absolute;
    width: 500px;
    opacity: 0;
    z-index: 2;
    background: aqua;
    /* opacity: 0.1; */
    border-top: 2px solie white;

    /* round up the corners */
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    margin-top: 2rem;
    padding: 0.5rem;

    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.175em 0.5em;
    transition: opacity .15s ease-out;
    right: -30px;

}

/* When you click on the link it creates focus on that link
which will cause the drop down to fade in. 
If we click outside of it, it loses focus and fade out.  */
.has-dropdown:focus-within .dropdown {
    opacity: 1;
    pointer-events: auto;
}

/* create circles before each themes to show what they are  */
.dropdown-item a {
    width: 100%;
    height: 100%;
    size: 0.7rem;
    padding-left: 10px;
    font-weight: bold;
}

/* before add content before the link text */
.dropdown-item a::before {
    content: " ";
    border: 2px solid white;
    border-radius: 50%;

    /* draw perfect circle  */
    width: 2rem;
    height: 2rem;

    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

/* theme */
:root {
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #bcbecd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray6: #12181b;
    --blue: #0084a5;
    --purple: #a82dd1;
    --yellow: #fff565;
}

.light {
    --bg: var(--gray0);
    --bg-nav: linear-gradiant(to right, var(--gray1), var(--gray3));
    --bg-dropdown: var(--gray0);
    --text: var(--gray6);
    --border-colr: var(--blue);
    --bg-solar: var(--yellow);

}

.dark {
    --bg: var(--gray5);
    --bg-nav: linear-gradiant(to right, var(--gray5), var(--gray6));
    --bg-dropdown: var(--gray6);
    --text: var(--gray0);
    --border-colr: var(--purple);
    --bg-solar: var(--blue);
}

.solar {

    --gray0: #fbffd4;
    --gray1: #f7f8d0;
    --gray2: #b6f880;
    --gray3: #5ec72d;
    --gray4: #3ea565;
    --gray5: #005368;
    --gray6: #003d4c;
}

/* colour the circles of the themes */
#dark::before {
    background: #2a2e35;
}

#light::before {
    background: #ffffff;
}

#solar::before {
    background: var(--bg-solar);
}

/* This is the design for the Burrials section */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 20;
}

/* glide css */
/* This is not working, 
the previous and next button are showing 
in an odd place*/
.wrap {
    max-width: 900px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    height: 100%;

}

.glide__slide {
    border: 1px solid black;
    line-height: 100px;
    margin: 0;
    text-align: center;
    height: 100%;
}
.glide__slide img{
    height: 100%;

}

.home-bg {
    img {
        max-width: 100%;
        height: auto;
    }
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    /* background: #ddd; */
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }

    /* This is the media query for the contact us page */
    /* Source from:https://www.youtube.com/watch?v=RZ-Oe4_Ew7g&list=PLZlA0Gpn_vH8mpXIUHjWoMAAgoCEinL0R&index=13
     */
    .join-main-section {
        flex-direction: column;
        justify-content: center;
    }

    .join-form {
        width: 80vh;
        max-width: inherit;
        margin: 2rem 0%;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

/* JS Masonry Grid style  */
/* .grid-item { 
    width: 200px;
    min-height: 200px;    
}
.grid-item--width2 { width: 25%; }
.grid-item--height2 { height: 25%; }
.grid img{
    width: 100%;
    height: auto;
    
}
.grid {
    list-style: none;
} */

.grid {
    /* background: #EEE; */
    max-width: 100%;
  
  }
  
  /* clearfix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }
  
  /* ---- grid-item ---- */
  
  .grid-sizer,
  .grid-item {
    width: 20%;
    overflow: hidden;
    display: flex;
    
  }
  .grid-item img{
    object-fit: contain;
    width: 100%;
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    max-height: 100%; /*Ensure the image doesn't exceed its container's height  */
    object-fit: cover; /* Maintain the image's aspect ratio and cover the container */
  }
  .grid-item {
    height: 120px;
    float: left;
    /* background: #D26; */
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 5px;
  }
  
  .grid-item--width2 { width:  40%; }
  .grid-item--width3 { width:  60%; }
  
  .grid-item--height2 { height: 200px; }
  .grid-item--height3 { height: 260px; }
  .grid-item--height4 { height: 360px; }

  .intro{
    background-color: #074f57;
    background-image: url("../assets/img/Engage\ with\ traditional\ owners.png");
    color: #fceaea;

    /* create space within the image so the paragraph doesn't start from the very edge  */
    padding-top: 200px;
    padding-bottom: 200px;

    /* create the space at the bottom of the image  */
    margin-bottom: 100px;
}